{:index 0, :time 13992334, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 16454742, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 2, :time 20763446, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n2" "n1" "n4" "n3"}, "n2" #{"n0"}, "n1" #{"n0"}, "n4" #{"n0"}, "n3" #{"n0"}}]}
{:index 3, :time 20949851, :type :ok, :process 0, :f :broadcast, :value 0}
{:index 4, :time 80188558, :type :invoke, :process 2, :f :read, :value nil}
{:index 5, :time 83036886, :type :ok, :process 2, :f :read, :value []}
{:index 6, :time 214788395, :type :invoke, :process 3, :f :broadcast, :value 1}
{:index 7, :time 220477162, :type :ok, :process 3, :f :broadcast, :value 1}
{:index 8, :time 229547702, :type :invoke, :process 4, :f :read, :value nil}
{:index 9, :time 236961735, :type :ok, :process 4, :f :read, :value [1]}
{:index 10, :time 298355281, :type :invoke, :process 0, :f :broadcast, :value 2}
{:index 11, :time 304837272, :type :ok, :process 0, :f :broadcast, :value 2}
{:index 12, :time 380642479, :type :invoke, :process 0, :f :read, :value nil}
{:index 13, :time 384935169, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 14, :time 474521729, :type :invoke, :process 1, :f :broadcast, :value 3}
{:index 15, :time 481445524, :type :ok, :process 1, :f :broadcast, :value 3}
{:index 16, :time 589400429, :type :invoke, :process 2, :f :read, :value nil}
{:index 17, :time 595781373, :type :ok, :process 2, :f :read, :value [1 3]}
{:index 18, :time 673876763, :type :invoke, :process 3, :f :broadcast, :value 4}
{:index 19, :time 679826165, :type :ok, :process 3, :f :broadcast, :value 4}
{:index 20, :time 743663398, :type :invoke, :process 4, :f :broadcast, :value 5}
{:index 21, :time 748755936, :type :ok, :process 4, :f :broadcast, :value 5}
{:index 22, :time 921971359, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 925326417, :type :ok, :process 0, :f :read, :value [0 2]}
{:index 24, :time 1043479389, :type :invoke, :process 0, :f :broadcast, :value 6}
{:index 25, :time 1063340219, :type :invoke, :process 1, :f :broadcast, :value 7}
{:index 26, :time 1101269358, :type :invoke, :process 2, :f :read, :value nil}
{:index 27, :time 1272866681, :type :invoke, :process 3, :f :broadcast, :value 8}
{:index 28, :time 1364240935, :type :invoke, :process 4, :f :broadcast, :value 9}
{:index 29, :time 6049167570, :type :info, :process 0, :f :broadcast, :value 6, :error :net-timeout}
{:index 30, :time 6049393864, :type :invoke, :process 5, :f :broadcast, :value 10}
{:index 31, :time 6065032474, :type :info, :process 1, :f :broadcast, :value 7, :error :net-timeout}
{:index 32, :time 6102391786, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 33, :time 6174067082, :type :invoke, :process 6, :f :broadcast, :value 11}
{:index 34, :time 6282897627, :type :info, :process 3, :f :broadcast, :value 8, :error :net-timeout}
{:index 35, :time 6300348905, :type :invoke, :process 2, :f :read, :value nil}
{:index 36, :time 6365674926, :type :info, :process 4, :f :broadcast, :value 9, :error :net-timeout}
{:index 37, :time 6403559422, :type :invoke, :process 8, :f :read, :value nil}
{:index 38, :time 6448915332, :type :invoke, :process 9, :f :read, :value nil}
{:index 39, :time 11054389696, :type :info, :process 5, :f :broadcast, :value 10, :error :net-timeout}
{:index 40, :time 11054674770, :type :invoke, :process 10, :f :read, :value nil}
{:index 41, :time 11178551734, :type :info, :process 6, :f :broadcast, :value 11, :error :net-timeout}
{:index 42, :time 11178803987, :type :invoke, :process 11, :f :broadcast, :value 12}
{:index 43, :time 11307944317, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 44, :time 11308156046, :type :invoke, :process 2, :f :read, :value nil}
{:index 45, :time 11410476012, :type :fail, :process 8, :f :read, :value nil, :error :net-timeout}
{:index 46, :time 11410689163, :type :invoke, :process 8, :f :broadcast, :value 13}
{:index 47, :time 11451669871, :type :fail, :process 9, :f :read, :value nil, :error :net-timeout}
{:index 48, :time 11461825973, :type :invoke, :process 9, :f :read, :value nil}
{:index 49, :time 13142825606, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 50, :time 13151146683, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 51, :time 14074949518, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 52, :time 14089036910, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n0" "n3"}, "n1" #{"n0" "n3"}, "n4" #{"n0" "n3"}}]}
{:index 53, :time 16061313491, :type :fail, :process 10, :f :read, :value nil, :error :net-timeout}
{:index 54, :time 16061482477, :type :invoke, :process 10, :f :broadcast, :value 14}
{:index 55, :time 16196310700, :type :info, :process 11, :f :broadcast, :value 12, :error :net-timeout}
{:index 56, :time 16258453652, :type :invoke, :process 16, :f :broadcast, :value 15}
{:index 57, :time 16317118597, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 58, :time 16331395179, :type :invoke, :process 2, :f :broadcast, :value 16}
{:index 59, :time 16414492935, :type :info, :process 8, :f :broadcast, :value 13, :error :net-timeout}
{:index 60, :time 16478445454, :type :fail, :process 9, :f :read, :value nil, :error :net-timeout}
{:index 61, :time 16517923337, :type :invoke, :process 13, :f :broadcast, :value 17}
{:index 62, :time 16697205071, :type :invoke, :process 9, :f :read, :value nil}
{:index 63, :time 21070273121, :type :info, :process 10, :f :broadcast, :value 14, :error :net-timeout}
{:index 64, :time 21269456221, :type :info, :process 16, :f :broadcast, :value 15, :error :net-timeout}
{:index 65, :time 21336841601, :type :info, :process 2, :f :broadcast, :value 16, :error :net-timeout}
{:index 66, :time 21527924700, :type :info, :process 13, :f :broadcast, :value 17, :error :net-timeout}
{:index 67, :time 21698523000, :type :fail, :process 9, :f :read, :value nil, :error :net-timeout}
{:index 68, :time 21698652875, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 69, :time 21707130179, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 70, :time 31719191703, :type :invoke, :process 9, :f :read, :value nil, :final? true}
{:index 71, :time 31728458952, :type :invoke, :process 7, :f :read, :value nil, :final? true}
{:index 72, :time 31729070407, :type :invoke, :process 21, :f :read, :value nil, :final? true}
{:index 73, :time 31731944226, :type :invoke, :process 15, :f :read, :value nil, :final? true}
{:index 74, :time 31734346241, :type :invoke, :process 18, :f :read, :value nil, :final? true}
{:index 75, :time 36731264683, :type :fail, :process 7, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 76, :time 36733062855, :type :fail, :process 15, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 77, :time 36734086031, :type :fail, :process 21, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 78, :time 36738805532, :type :fail, :process 9, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 79, :time 36738929586, :type :fail, :process 18, :f :read, :value nil, :final? true, :error :net-timeout}
